.navbar-custom {
    background-color: transparent;
    border-bottom-color: transparent;
}
nav {
    background-color: #323D4E;
    position: absolute;
}
nav .navbar-brand {
    color: white;
    font-size: 30px;
}
nav .navbar-nav li a {
    color: white;
    font-size: 15px;
}
@media only screen and (min-width: 768px) {
    nav {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    nav .navbar-brand {
        font-weight: bold;
    }
}

.navbar-default .navbar-toggle {
    border: 0px;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-default .navbar-collapse {
    border: 0px;
}


footer {
    background-color: #323d4e;
}
footer .heading {
    margin: 20px 0px;
}
footer .container {
    padding-top: 50px;
    color: white;
}
footer .row {
    margin-bottom: 20px;
}
footer .logo {
    font-size: 25px;
    margin: 10px 0px;
}
footer .link ul {
    list-style: none;
    padding-left: 0px;
}
footer .link li {
    line-height: 28px;
    font-size: 14px;
}
footer .link a {
    color: #a0a3a4;
}
footer .link a:hover {
    color: #3333ff;
}
footer .news p {
    font-size: 13px;
}
footer .news p span {
    color: #a0a3a4;
}
footer .bottom-ul {
    list-style: none;
    float: right;
}
@media screen and (max-width: 426px) {
    footer .bottom-ul {
        float: left;
        padding-left: 0px;
    }
    footer .news {
        display: none;
    }
}
footer .bottom-ul li {
    float: left;
    margin-left: 10px;
}